<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>BX AdminTool</title>

    <link href="./resources/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="./resources/css/datatables.min.css" rel="stylesheet"/>
    <link href="./resources/css/rosy-standard.css" rel="stylesheet"/>
    <link href="./resources/css/datepicker.css" rel="stylesheet"/>
    <link href="./resources/css/bxadmin.css" rel="stylesheet"/>
</head>
